/* /styles/global.css */
@font-face {
  font-family: 'AvenirNextCondensed';
  src: url('/fonts/AvenirNextCondensed-Regular.otf') format('opentype');
  font-display: swap;
}
@font-face {
  font-family: 'GayaRegular';
  src: url('/fonts/Gaya.otf') format('opentype'),
    url('/fonts/Gaya.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'RecoletaBold';
  src: url('/fonts/Recoleta-Bold.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'RecoletaMedium';
  src: url('/fonts/Recoleta-Medium.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'RecoletaSemiBold';
  src: url('/fonts/Recoleta-SemiBold.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'InterRegular';
  src: url('/fonts/Enby-Gertrude-roman.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'InterMedium';
  src: url('/fonts/Enby-Gertrude-roman.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'InterSemiBold';
  src: url('/fonts/Enby-Gertrude-roman.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Enby-Gertrude-roman.woff2') format('woff2');
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'InterRegular', Arial, sans-serif;
  font-synthesis: none;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
}
